<nav id="navbar">
  <%# DEVISE LINKS %>
  <%= link_to "Home", root_path %>
  <%# Admin Dashboard Link %>
  <% if admin? %>
    <%= link_to  "Admin Dashboard", admin_root_path %>
  <% end %>
  <%# Regular user navigation %>
  <%= link_to "Posts", posts_path %>
  <%= link_to "Contact", contact_path %>
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "sign in", new_user_session_path %>
  <% end %>
</nav>
