<% if @post.errors.any? %>
  <h2>The following errors prevented the post from saving:</h2>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: [:admin, @post] do |form| %>
    <p>
        <%= form.label :title %>
        <%= form.text_field :title %>
    </p>
    <p>
        <%= form.label :body %>
        <%= form.text_area :body %>
    </p>

     <p><%= form.submit %></p>
<% end %>