<tr class="post">
    <td> <strong> <%= post.title %> </strong> </td>
    <td> <%= post.body %> </td>
    <td class="post-link"> <%= link_to "Read More", post_path(post) %> </td>
    <% if admin? %>
    <td class="post-link"> <%= link_to "Edit", edit_admin_post_path(post) %></td>
    <td class="post-link"><%= link_to "Delete", admin_post_path(post), method: :delete, data: { confirm: "Are you sure you want to delete this blog post?" } %></td>
    <% end %>
</tr>