<tr>
  <td> <strong> <%= post.title %> </strong> </td>
  <td> <%= post.body %> </td>
  <td> <%= link_to "Read More", post_path(post) %> </td>
  <% if admin? %>
    <td> <%= link_to "Edit", edit_admin_post_path(post) %></td>
    <td><%= link_to "Delete", admin_post_path(post), method: :delete, data: { confirm: "Are you sure you want to delete this blog post?" } %></td>
  <% end %>
</tr>
