<h1>Blog index</h1>

<%= link_to "Create new Blog Post", new_post_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
  </tr>

  <% @posts.each do |post| %>
  <tr>
    <td> <strong> <%= post.title %> </strong> </td>
    <td> <%= post.body %> </td>
    <td> <%= link_to "Read More", post_path(post) %> </td>
    <td> <%= link_to "Edit", edit_post_path(post) %></td>
    <td><%= link_to "Delete", post_path(post), method: :delete, data:{ confirm: "Are you sure you want to delete this blog post?"} %></td>
  </tr>
  <% end %>

</table>