<h1><%= @post.title %></h1>

<p><%= @post.body %></p>

<%= link_to "Back", posts_path %>
<br>

<% if admin? %>
  <%= link_to "Edit", edit_admin_post_path(@post) %>
  <%= link_to "Delete", admin_post_path, method: :delete, data:{ confirm: "Are you sure you want to delete this blog post?"} %>
<% end %>
