<% if @inquiry.try(:errors).try(:any?) %>
<h2>The following errors prevented the post from saving:</h2>
<ul>
    <% @inquiry.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
</ul>
<% end %>

<%= form_with model: @inquiry, url: inquiries_path do |f| %>
<p>
    <%= f.label :email, "Email" %>
    <%= f.email_field :email, label: "Email" %>

</p>
<p>
    <%= f.label :name, "Full Name" %>
    <%= f.text_field :name, label: "Full Name" %>
</p>
<p>
    <%= f.label :message, "Message" %>
    <%= f.text_area :message, label: "Message" %>
</p>
<p>
    <%= f.submit "Send Message" class: 'btn btn-primary'%>
</p>
<% end %>