<!DOCTYPE html>
<html>
  <head>
    <title>ResumeSite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
    <%# Google Fonts - Roboto %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <%# Navigation Links %>
      <%= render  "shared/navbar" %>
      <%# Flash Messages %>
      <%= render 'shared/flash' %>
      <%= yield %>
      <%# Footer %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
