<!DOCTYPE html>
<html>
  <head>
    <title>Denis S Dujota</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
    <%# Google Fonts - Poppins %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>
  <body>
    <%= javascript_packs_with_chunks_tag 'views/navbar/mobile_nav', defer: 'defer' %>
    <div class="container">
      <%# Navigation Links %>
      <%= render 'layouts/navbar/mobile_navbar' %>
      <%= render  "layouts/navbar/navbar" %>
      <%# Flash Messages %>
      <%= render 'layouts/flash' %>
      <%= yield %>
      <%# Footer %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
