<!DOCTYPE html>
<html>
  <head>
    <title>ResumeSite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>
  <body>
    <%# Navigation Links %>
    <%= render  "shared/navbar" %>
    <%# Flash Messages %>
    <%= render 'shared/flash' %>
    <%= yield %>
    <%# Footer %>
    <%= render 'shared/footer' %>
  </body>
</html>
